:root{
    --cor-de-fundo: hsl(30, 38%, 92%);
    --verde: hsl(158, 36%, 37%);
    --branco: hsl(0, 0%, 100%);
    --azul-escuro: hsl(212, 21%, 14%);
    --cinza-azulado: hsl(228, 12%, 48%);
    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Fraunces', serif;

}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
    margin: 0px;
}

.pagina{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card{
    width:320px;
    background-color: var(--branco);
    border-radius: 10px;
}

.container_imagem_desktop{
    display: none;
}
.container_imagem{
    width: 100%;
    border-radius: 10px 10px 0 0;

}

.sobre_produto{
    margin: 0.5em 1.5em;
}

.produto{
    color: var(--cinza-azulado);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.nome{
    font-family: var(--fonte-secundaria);
    font-size: 28px;
    font-weight: bold;
    color: var(--azul-escuro);
    line-height: 1em;
    margin: 0.4em 0;

}

.descrição{
    font-size: 12px;
    color: var(--cinza-azulado);
}

.valores{
    display: flex;
    justify-content: flex-start;
    margin: 1.5em 0;
}
.preço{
    font-family: var(--fonte-secundaria);
    color: var(--verde);
    font-size: 26px;
    margin-right: 0.7em;
}
.preço_antigo{
    font-family: var(--fonte-secundaria);
    color: var(--cinza-azulado);
    font-size: 10px;
    text-decoration: line-through;
}

button{
    font-weight: 700;
    color: var(--branco);
    background-color: var(--verde);
    width: 100%;
    padding: 1em;
    margin-bottom: 1.5em;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icone_botão{
    margin-right: 1em;
}

.attribution{
    font-size: 10px;
    line-height: 1em;
    text-align: center;
    margin: 2em 0 0 0;
}

.attribution a{
    color: var(--verde);
    font-weight: 700;
    text-decoration: none;
}

@media only screen and (min-width: 1440px){
   
    .card{
        width: 35%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: 0px;
    }

    .container_imagem_desktop{
            display: block;
            border-radius: 10px 0 0 10px ;
            width: 100%;
            margin: 0px;

        
    }
        
    .container_imagem{
        display: none;

    }

    .sobre_produto{
        display:block;
        width: 100%;
    }

    .nome{
        line-height: 1.2em;
        margin: 0.7em 0;
    
    }
    .valores{
        margin: 2em 0;
    }
    
    
}